# Firebase Web App Configuration
# Get these from Firebase Console > Project Settings > General > Your apps > Web app
NEXT_PUBLIC_FIREBASE_API_KEY= "AIzaSyCf7oGH3UNRvE5o5LsbpGVXgHl-KuyH7OI",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= "buzzboard-1889e.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID= "buzzboard-1889e",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= "buzzboard-1889e.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "870990529828",
NEXT_PUBLIC_FIREBASE_APP_ID= "1:870990529828:web:0e5f42e543311ce65e9fb1",
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=  "G-2WN890LDD0"
